# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#Workspace file
workspace.code-workspace

#Openapi generated go rest api implementation
pkg/service/swagger/openapi.gen.go

#Json version of openapi rest description
pkg/service/swagger/swagger.json